$main-text-color: #080808;
$second-text-color: #146ef5;
$third-text-color: #ffffff66;
$fourth-text-color: #ffffff;
$main-font: "Roboto", serif;
$second-font: "Urbanist", serif;
$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$mobile-max-width: 575px;
